.avatar {
  border-radius: 50%;
}

.container {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  gap: 16px;
  align-items: center;
}

body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
